<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
    <!--***********************************************************************-->

    <!--***********************************************************************-->
    <!--<appender name="MyGlobalLog" class="ch.qos.logback.classic.AsyncAppender">-->
    <appender name="MyGlobalLog" class="ch.qos.logback.core.FileAppender">
        <file>global-.log</file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <!--<logger name="MyGlobalLog" level="info" additivity="true">-->
    <logger name="MyGlobalLog" level="info" additivity="false">
        <appender-ref ref="MyGlobalLog" />
        <!--<appender-ref ref="ReviewsSession" />-->
        <!--<appender-ref ref="STDOUT" />-->
    </logger>
    <!--***********************************************************************-->

    <!--***********************************************************************-->
    <!--<appender name="PriceScraper" class="ch.qos.logback.classic.AsyncAppender">-->
    <appender name="PricesScraper" class="ch.qos.logback.core.FileAppender">
        <file>price-scraper-.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="PricesScraper" level="info" additivity="false">
        <appender-ref ref="PricesScraper" />
        <appender-ref ref="STDOUT" />
    </logger>
    <!--***********************************************************************-->

    <!--***********************************************************************-->
    <appender name="wines.CreateTSV" class="ch.qos.logback.core.FileAppender">
        <file>wines-create-tsv-.log</file>
        <append>false</append>
        <encoder>

            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="wines.CreateTSV" level="info" additivity="false">
        <appender-ref ref="wines.CreateTSV"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--***********************************************************************-->
    <!--***********************************************************************-->
    <appender name="addresses.CreateTSV" class="ch.qos.logback.core.FileAppender">
        <file>addresses-create-tsv-.log</file>
        <append>false</append>
        <encoder>

            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="addresses.CreateTSV" level="info" additivity="false">
        <appender-ref ref="addresses.CreateTSV"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--***********************************************************************-->
    <!--***********************************************************************-->
    <appender name="reviews.CreateTSV" class="ch.qos.logback.core.FileAppender">
        <file>reviews-create-tsv-.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="reviews.CreateTSV" level="info" additivity="false">
        <appender-ref ref="reviews.CreateTSV" />
        <appender-ref ref="STDOUT" />
    </logger>
    <!--***********************************************************************-->

    <!--***********************************************************************-->
    <appender name="prices.CreateTSV" class="ch.qos.logback.core.FileAppender">
        <file>prices-create-tsv-.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="prices.CreateTSV" level="info" additivity="false">
        <appender-ref ref="prices.CreateTSV"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--***********************************************************************-->

    <!--<appender name="reviews.CreateDataToLoad" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>reviews-create-data_to_load-.log</file>-->
        <!--<append>false</append>-->
        <!--<encoder>-->
            <!--<pattern>%level{-5}\t%msg%n</pattern>-->
            <!--&lt;!&ndash;<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>&ndash;&gt;-->
        <!--</encoder>-->
    <!--</appender>-->


    <!--***********************************************************************-->
    <appender name="WinesScraper" class="ch.qos.logback.core.FileAppender">
        <file>wines-scraper-.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="WinesScraper" additivity="false">
        <appender-ref ref="WinesScraper" />
        <appender-ref ref="STDOUT" />
    </logger>
    <!--***********************************************************************-->

    <!--***********************************************************************-->
    <appender name="ReviewsScraper" class="ch.qos.logback.core.FileAppender">
        <file>reviews-scraper-.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="ReviewsScraper" additivity="false">
        <appender-ref ref="ReviewsScraper" />
        <appender-ref ref="STDOUT" />
    </logger>
    <!--***********************************************************************-->

    <!--***********************************************************************-->
    <appender name="ScrapAddresses" class="ch.qos.logback.core.FileAppender">
        <file>addresses-scraper-.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level\t%msg%n</pattern>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>
    <logger name="ScrapAddresses" additivity="false">
        <appender-ref ref="ScrapAddresses" />
        <appender-ref ref="STDOUT" />
    </logger>
    <!--***********************************************************************-->

</configuration>